* {
  box-sizing: border-box;
  border-radius: 4px;
}

.clear-float {
  float: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide {
  display: none;
}

body {
  background-color: #F7F8FA;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  margin-top: 5%;
}

.none {
  display: none;
}
