
.characterList{
  padding-left: 0px;
  margin-bottom: 10%;
}

.characterLi {
  list-style: none;
  border: 1px solid #F7F8FA;
  border-bottom: none;
  background-color: #FFFFFF;
  padding: 3%;
  border-radius: 0;
} 

.characterLi:nth-child(1) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.characterLi:nth-last-child(1) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #F7F8FA;
}


#loading > img {
  width: 10%;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.resultsGenderContainer {
  width: 100%;
  height: 50px;
  display: block;
  margin-top: 50px;
}

.results{
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999B9E;
  letter-spacing: 1.8px;
  margin: 4% 0 4% 0;
}

.characterName {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 1px 0;
}

.characterSubtitles{
  color: #B8BABF;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 14px;
  /* text-transform: capitalize; */
}
.characterGender {
  /* color: #B8BABF;
  font-family: 'Muli', sans-serif;
  font-size: 14px; */
  text-transform: capitalize;

}

.characterHairColor {
  /* color: #B8BABF;
  font-family: 'Muli', sans-serif;
  font-size: 14px; */
  text-transform: capitalize;
}

.characterEyeColor {
  /* color: #B8BABF;
  font-family: 'Muli', sans-serif;
  font-size: 14px; */
  text-transform: capitalize;
}


.resultsBox{
  width: 100%;
  height: 500px;
}

.searchLandingText {
  margin: 5% auto;
  display: block;
  width: 100%;
  text-align: center;
}

#searchContainer > article > div > h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #999B9E;
  text-align: center;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

#searchContainer > article > div > img {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}